<tr>
  <form action="/update" method="post">
    <td data-label="ID"><%= data.id %></td>
    <input type="hidden" name="id" value="<%= data.id %>">

    <td data-label="Name"><%= data.name %></td>
    <input type="hidden" name="name" value="<%= data.name %>">

    <td data-label="Email"><%= data.email %></td>
    <input type="hidden" name="email" value="<%= data.email %>">

    <td data-label="Phone Number"><%= data.phoneno %></td>
    <input type="hidden" name="phoneno" value="<%= data.phoneno %>">

    <td data-label="Message"><%= data.msg %></td>
    <input type="hidden" name="msg" value="<%= data.msg %>">

    <td data-label="Update"><button type="submit">Update</button></td>
  </form>

  <form action="/delete" method="post">
    <td data-label="Delete"><button name="id" value="<%=data.id%>" type="submit"">Delete</button></td>
  </form>

</tr>