<% data.forEach(function(customer){ %>

  <tr>
    <form action="/update" method="post">
      <td data-label="ID"><%= customer.id %></td>
      <input type="hidden" name="id" value="<%= customer.id %>">

      <td data-label="Image"><img src="data:<%= customer.filetype %>;base64,<%=customer.image %>" /></td>

      <td data-label="Name"><%= customer.name %></td>
      <input type="hidden" name="name" value="<%= customer.name %>">

      <td data-label="Email"><%= customer.email %></td>
      <input type="hidden" name="email" value="<%= customer.email %>">

      <td data-label="Phone Number"><%= customer.phoneno %></td>
      <input type="hidden" name="phoneno" value="<%= customer.phoneno %>">

      <td data-label="Message"><%= customer.msg %></td>
      <input type="hidden" name="msg" value="<%= customer.msg %>">

      <td data-label="Update"><button type="submit">Update</button></td>
    </form>

    <form action="/delete" method="post">
      <td data-label="Delete"><button name="id" value="<%=customer.id%>" type="submit"">Delete</button></td>
    </form>
  </tr>

<% }); %>